<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>A Date</key>
    <date>2003-03-29T08:30:40Z</date>
    <key>A Number</key>
    <integer>42</integer>
    <key>CFAppleHelpAnchor</key>
    <string>PBX001</string>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>pbproj</string>
                <string>pbxproj</string>
                <string>pbxuser</string>
            </array>
            <key>CFBundleTypeIconFile</key>
            <string>docicon</string>
            <key>CFBundleTypeName</key>
            <string>ProjectBuilder Project File</string>
            <key>CFBundleTypeOSTypes</key>
            <array>
                <string>PBXp</string>
            </array>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>NSDocumentClass</key>
            <string>PBXProjectDocument</string>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>h</string>
                <string>H</string>
                <string>m</string>
                <string>c</string>
                <string>C</string>
                <string>M</string>
                <string>cc</string>
                <string>CC</string>
                <string>cp</string>
                <string>cpp</string>
                <string>CPP</string>
                <string>cxx</string>
                <string>java</string>
                <string>wos</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>Source Files</string>
            <key>CFBundleTypeOSTypes</key>
            <array>
                <string>TEXT</string>
            </array>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>NSDocumentClass</key>
            <string>PBXSourceFileDocument</string>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>rtf</string>
                <string>rtfd</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>RTF/RTFD Files</string>
            <key>CFBundleTypeOSTypes</key>
            <array>
                <string>RTF </string>
            </array>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>NSDocumentClass</key>
            <string>PBXRTFFileDocument</string>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>html</string>
                <string>htm</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>HTML File</string>
            <key>CFBundleTypeOSTypes</key>
            <array>
                <string>HTML</string>
            </array>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>NSDocumentClass</key>
            <string>PBXHTMLFileDocument</string>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>tiff</string>
                <string>tif</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>TIFF File</string>
            <key>CFBundleTypeOSTypes</key>
            <array>
                <string>TIFF</string>
            </array>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>NSDocumentClass</key>
            <string>PBXImageFileDocument</string>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string></string>
            </array>
            <key>CFBundleTypeName</key>
            <string>Plain Text File</string>
            <key>CFBundleTypeOSTypes</key>
            <array>
                <string>****</string>
            </array>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>NSDocumentClass</key>
            <string>PBXTextFileDocument</string>
        </dict>
    </array>
    <key>CFBundleExecutable</key>
    <string>ProjectBuilder</string>
    <key>CFBundleIconFile</key>
    <string>appicon</string>
    <key>CFBundleIdentifier</key>
    <string>com.apple.ProjectBuilder</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleVersion</key>
    <real>3.5</real>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright (c) 1999-2000 Apple Computer, Inc.</string>
    <key>NSMainNibFile</key>
    <string>PBX.nib</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
</dict>
</plist>
